*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li, a, h1, div {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
<<<<<<< HEAD
=======
  margin: 0;
>>>>>>> 9664ecb516f9fbdbf2f3c139490b6863710e6442
  color: #3F5D45;
}

body {
  font-family: 'PingFang';
  font-weight: 550;
  color: #3F5D45;
}

body .container {
  width: 940px;
  margin: 0 auto;
}

body .container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
}

body .container .nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .nav .menu li {
  padding-left: 60px;
}

body .container .nav .menu :nth-child(4) {
  padding-left: 79px;
}

body .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

body .container .header .banner {
  background-size: contain;
  width: 940px;
  height: 496px;
}

body .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .content .aside-left {
  margin-top: 5px;
  margin-right: 5px;
  padding: 0;
}

body .container .content .aside-left .categories {
  margin: 0;
  padding: 16px 0;
  background: #3F5D45;
  color: #EAF0ED;
  font-size: 24px;
  text-align: center;
}

body .container .content .aside-left .categories-list {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
}

body .container .content .aside-left .categories-list li {
  width: 300px;
  height: 65px;
  padding: 16px 0;
  text-align: center;
  border: 1px solid #EAF0ED;
}

body .container .content .aside-left .categories-list li:hover {
  background: #EAF0ED;
}

body .container .content .product-list {
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

body .container .content .product-list .card {
  width: 300px;
  margin: 5px;
}

body .container .content .product-list .card .card-body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .content .product-list .card .card-body .product-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .content .product-list .card .card-body .product-img .tag {
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 3px;
  background: #3F5D45;
  color: #fff;
  padding: 10px;
}

body .container .content .product-list .card .card-body .product-img .favorite-icon {
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  top: 15px;
  right: 15px;
}

body .container .content .product-list .card .card-body .card-body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding: 0;
  font-size: 20px;
}

body .container .content .product-list .card .card-body .card-body-content .product-name {
  width: 173px;
  border: 1px solid #EAF0ED;
  padding: 14px 0;
}

body .container .content .product-list .card .card-body .card-body-content .product-price {
  width: 127px;
  border: 1px solid #EAF0ED;
  padding: 14px 0;
}

body .container .content .product-list .card .card-body .add-cart {
  padding: 16px 90px;
  background: #EAF0ED;
  font-size: 24px;
}

<<<<<<< HEAD
body .container .content .product-list .card .card-body .add-cart:hover {
=======
body .content .product-list .card .card-body .add-cart:hover {
>>>>>>> 9664ecb516f9fbdbf2f3c139490b6863710e6442
  background: #3F5D45;
  color: #EAF0ED;
}

<<<<<<< HEAD
body .container .content .pagination {
  margin-top: 30px;
=======
body .content .pagination {
>>>>>>> 9664ecb516f9fbdbf2f3c139490b6863710e6442
  margin-right: 5px;
  margin-bottom: 60px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #3F5D45;
}

body .container .content .pagination li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #EAF0ED;
  text-align: center;
  color: #3F5D45;
}

body .container .content .pagination li:hover {
  background: #3F5D45;
}

body .container .content .pagination li:hover a {
  color: #EAF0ED;
}
/*# sourceMappingURL=all.css.map */
